.projectCard {
  width: 60rem;
}

.projectLink {
  color: inherit;
  text-decoration: none;
}

.projectLink:hover {
  color: #3d37ae;
}

.project-card-title {
  font-size: 1.75rem;
  font-weight: 500;
}
