.btnUpdate {
    background-color: #55bcc9;
    color: white;
}

.btnUpdate:hover {
    background-color: #97caef;
    color: #520000;
}

.btnClose {
    background-color: #520000;
    color: white; 
}

.btnClose:hover {
    background-color: #97caef; 
    color: #520000;
}